<footer>
    <div class="blogs">
	    <a class="medium-3 columns blog akasha" href="http://akashablog.net">
		</a>
		<a class="medium-3 columns blog blogdeonda" href="http://blogdeonda.com">
		</a>
		<a class="medium-3 columns blog funnix" href="http://funnix.net">
		</a>
		<a class="medium-3 columns blog rockntown" href="http://rockntown.com">
		</a>
	</div>
    <div class="dixit-copyright">
         <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>. {{@blog.description}}.</section>
         <section class="poweredby">
         	Un blog de 
         	<a href="http://dixit.com.py/" class="logo-dixit">
         		<i class="icon-dixit-d"></i>
         		<i class="icon-dixit-i"></i>
         		<i class="icon-dixit-x"></i>
         		<i class="icon-dixit-i"></i>
         		<i class="icon-dixit-t"></i>
         	</a> contenidos.
         </section>
    </div>
</footer>