{{! This is the navigation menu, add your static pages and links here. }}

<h4>Secciones destacadas</h4>

<nav class="echo-navigation-menu">
    <ul>
        <li>
            <a href="http://funnix.net/2014/04/28/bienvenido-al-nuevo-funnix/">Bienvenido al nuevo Funnix</a>
        </li>
        <li>
            <a href="http://archivo.funnix.net/">¿Nostalgia?</a>
        </li>
    </ul>
</nav>