<div class="dixit-post-meta">
    <time class="dixit-post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D.M.YY"}}</time> 
    {{#if tags}} | <h5 class="dixit-post-tags"> {{tags separator=" . "}} </h5>{{/if}}
</div>