/**
 * Imágenes y galerías
 */

/** Imágenes del post **/

.post {
  img {
    width: auto;
    max-width: 100%;
  }
  .boton {
    display: inline-block;
    padding: 10px 45px;
    background: #669900;
    color: #FFFFFF;
  }
}

/** Galerías **/

.galeria-wrap {
  width: 100%;
  display: inline-flex;
  text-align: center;
  .galeria-img {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #929AA0;
    overflow: hidden;
    padding: 1%;
    float: left;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}