/* ==========================================================================
   Blockquote
   ========================================================================== */

blockquote{
    margin: 30px 10px;
    padding: 15px 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 1.3em;

    p {
        display: inline;
    }
}

blockquote:before {
    color: $secondary-color;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after { 
    color: $secondary-color;
    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.2em;
    vertical-align: -0.5em;
}