/** Galería **/

.galeria-wrap {
  width: 100%;
  display: inline-flex;
  text-align: center;
  .galeria-img {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #929AA0;
    overflow: hidden;
    padding: 1%;
    float: left;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}