/* ==========================================================================
   Headings
   ========================================================================== */

h1{
    font-size: 2.4em;
}

h2{
    font-size: 1.8em;
}

h1, h2, h3, h4{
    color: $primary-color;
    font-family: $title-font;
}