/* ==========================================================================
   Header
   ========================================================================== */

header{
    float: left;
    width: 100%;
    padding: 0 3.5%;
    border-bottom: 1px dotted $border-color;
    margin-bottom: 40px;

    h2{
        float: left;
        margin: 25px 5px;
        color: $primary-color;
        text-transform: uppercase;
        font-family: $header-font;
    }

    .dixit-blog-logo{
        float: left;
        width: 45px;
        height: 45px;
        margin: 22px 0;
    }

    a:link, a:visited{
        border: none;
    }

    a:hover{
       color: $primary-color; 
    }
}

.dixit-social-media{
    float: right;
    margin: 25px 0;

    i{
        display: inline-block;
        width: 35px;
        height: 35px;
        color: $tertiary-color;
        padding: 8px;
        margin-right: 5px;
        text-align: center;
        border: 1px solid $tertiary-color;
        @include border-radius(50%);
        @include transition(all, 0.2s);

        &:hover{
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }

}