/* ==========================================================================
   Scroll Styles
   ========================================================================== */

a.back-to-top {
	position: fixed;
	bottom: 2em;
	right: -500px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: $primary-color;
	font-size: 12px;
	padding: 1em;
	border-radius: 10px 0 0 10px;

	&:hover {	
		background-color: #333;
	}

	&.visible{
		right: 0px;
	}
}