/* ==========================================================================
   Sharing
   ========================================================================== */

.dixit-share{
    text-align: right;

    i{
        padding: 10px 0 0 10px;  
        font-size: 2.0em;
    } 
}