/**
 * Detalles personalizados para Funnix
 */

/** Imágenes del post **/
.post img{
	width: auto;
	max-width: 100%;
}
.post .boton{
    display: inline-block;
    padding: 10px 45px;
    background: #669900;
    color: #FFFFFF;
}

/** Galerías **/
.galeria-wrap{
	width: 100%;
	display: inline-flex;
	text-align: center;
}
.galeria-wrap .galeria-img{
	min-width: 100px;
	min-height: 100px;
	border: 1px solid #929AA0;
	overflow: hidden;
	padding: 1%;
	float: left;
	margin: 0 auto;
}
.galeria-wrap .galeria-img img{
	width: 100%;
	height: auto;
}

/** Sección de autor **/
section.author {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #D1D6DA;
    margin: 40px 0 0;
    padding: 20px 5px 10px;
}
section.author > div.image {
	width: 15%;
	float: left;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
}
section.author > div.about {
	display: table;
}
section.author > div.about small{
	color: #929AA0;
	text-transform: none;
}
section.author > div.about > h4 {
	font-size: 1.5em;
	text-transform: uppercase;
}
section.author > div.about > p {
    font-size: 1.3em;
}
section.comment{
	width: 100%;
}

/* Personalización de estilos */
p a:link, p a:visited {
    color: #669900;
}

/* Pantallas grandes */
@media screen and (min-width: 1200px) {

	#post-index .post-flex{
		display: flex;
	}
	
	#post-index .post-vista {
	    float: left;
	    max-width: 35%;
	    padding-right: 25px;
	}

	#post-index .post-detalle {
		display: block;
	}

}
/* Pantallas pequeñas */

@media screen and (max-width: 700px) {

	section.author > div.image {
	    width: 150px;
	    max-width: 100%;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	}

	section.author > div.about > h4 {
		text-align: center;
	}

}