// Colores de blogs
$color-akasha:				#009bc2;		// celeste Akasha
$color-blogdeonda:			#cb0000;		// rojo Blog de onda
$color-funnix:				#669900;		// verde Funnix
$color-rockntown:			#21605f;		// verde agua oscuro RnT
$blog-color-opuesto:		#FFFFFF;		// Color opuesto al del blog

// Colores de componentes
$color-cover-text:				#FFFFFF;
$color-seleccion: 				#FFFFFF;
$color-fondo-blog-visitado:		#444444;
$color-back-to-top:				#FFFFFF;
$color-fondo-back-to-top-hover:	#333333;

$border-color: 				#d1d6da; 		//light grey

$body-font-size: 			1em;
$sidebar-width: 			320px;			//sidebar width
$cover-photo-height: 		250px;
$cover-photo-overlay: 		0.4;			//40%

