@import "dixit";

// Variables para Funnix
$blog-color: $color-funnix;
$primary-color: #30363c; //black
$secondary-color: #5c6872; //dark grey
$tertiary-color: #929aa0; //light grey
$accent-color: $blog-color;
$border-color: #d1d6da; //light grey

$body-font: 'Droid Sans', sans-serif; //google font
$body-font-color: #535e67; //dark grey
$body-font-size: 1em;
$title-font: $body-font;

$sidebar-width: 320px; //sidebar width

$cover-photo-height: 250px;
$cover-photo-overlay: 0.4; //40%