@import "dixit";

// Variables para Rockntown
$blog-color: 		$color-rockntown;
$primary-color: 	$blog-color;
$secondary-color: 	#2C3F6B;
$tertiary-color: 	#465882;
$accent-color: 		$blog-color;

$body-font: 		'Droid Sans', sans-serif;
$body-font-color: 	darken($blog-color, 15%); 		//dark grey
$header-font: 		'New Rocker', cursive;			//google font
$title-font: 		'Bree Serif', serif;			//google font