{{! This is the navigation menu, add your static pages and links here. }}

<h4>Secciones destacadas</h4>

<nav class="dixit-navigation-menu">
    <ul>
        <li>
            <a href="http://archivo.rockntown.com/">Artículos del viejo Rockntown</a>
        </li>
    </ul>
</nav>