{{! These are your social icons, add your social media links here. }}

<section class="dixit-social-media">
    <a href="mailto:contacto@dixit.com.py">
        <i class="icon-mail"></i>
    </a>
    <a href="https://twitter.com/rockntown">
        <i class="icon-twitter"></i>
    </a>
    <a href="https://facebook.com/rockntown">
        <i class="icon-facebook"></i>
    </a>
    <a href="https://plus.google.com/u/0/b/111917985301567416308/111917985301567416308">
        <i class="icon-google-plus"></i>
    </a>
    <a href="{{@blog.url}}/rss/">
        <i class="icon-rss"></i>
    </a>
</section>